<div class="container">
	<h2>Sales Entry for Firm Name</h2>
	<label>Customer</label>
	<select>
	<option>--Select--</option>
	<option>Dipak</option>
	<option>Amit</option>
	<option>Suraj</option>
	<option>Krishna</option>
	</select>
	<label >Item</label>
	<select>
	<option>--Select--</option>
	<option>Cabbage</option>
	<option>Carrot</option>
	<option>Onion</option>
	<option>Potato</option>
	</select>
	<label>Quantity</label>
	<input  type="number" placeholder="Quantity" step="0.01" required="">
	<label>Price</label>
	<input  type="number" placeholder="Price" step="0.01" required="">
	<label>Commission</label>
	<input  type="number" placeholder="Commission" step="0.01" required="">
	
	<label>Total: {{total}}</label>
	<input type="submit" value="LogIn">
</div>